.display-result {
  font-family: sans-serif;
  background-color: rgb(133, 134, 147);
  color: white;
  min-height: 70px;
}

.mathematical-operator {
  background-color: rgb(245, 145, 62);
}

.active-link {
  color: orangered;
  text-decoration: underline;
}
